<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- <listeners>
		<listener class-name="utilities.ExtentreportManager" />
	</listeners-->
	<test thread-count="5" name="SmokeTest">
		<classes>
			<class name="com.ecom.testcases.RegistrationTest" />
		</classes>
	</test> 
</suite>
